<div id="map"></div>
<script>
  var destination = '<%= h @destination -%>'
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?libraries=geometry,visualization&key=AIzaSyCe-JOacAl1KmUnsvQ4xHrBJQRWrlD7zw0&callback=initMap">
</script>
