body {
  background-color: #000;
}

nav {
  height: 60px;
  position: fixed;
  border-bottom: 1px #FFF solid;
  opacity: 0.5;
  background-color: #555;
  z-index: 9999;
  width: 100%;
}

.button {
  margin-left: 100px;
  padding: 0 16px;
  border: 0;
  background: linear-gradient(#3baee7, #0088cc);
  color: #FFF;
  border-radius: 4px;
  line-height: 22px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  &:hover {
    background: linear-gradient(#4ab4e8, #1491d0);
  }
}
