.banner-container {
  background-image: url("background.jpg");
  background-position: center;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-top: 60px;
}

.search {
  position: absolute;
  top: 65%;
  left: 50%;
  margin-left: -168px;
  form {
    label {
      font-size: 28px;
    }
    .user-input {
      margin: 30px 0 30px -130px;
      padding: 0px 20px;
      border: none;
      border-radius: 3px;
      line-height: 30px;
      width: 220px;
      left: 50%;
      position: relative;
    }
  }
}

.homepage-copy {
  position: relative;
  top: 540px;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  p {
    font-weight: 400px;
    line-height: 30px;
  }
}

.go-home {
  position: relative;
  left: 50%;
  margin-left: -185px;
  padding: 10px;
  top: 540px;
  .button {
    margin-top: 10px;
  }
}
