.banner-container {
  background-image: url("background.jpg");
  background-position: center;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-top: 60px;
}

.search {
  position: absolute;
  top: 65%;
  left: 50%;
  margin-left: -168px;
  form {
    label {
      font-size: 28px;
    }
    .user-input {
      margin: 30px 0 30px 50px;
      border: none;
      border-radius: 3px;
      line-height: 30px;
      width: 220px;
    }
    .button {
      margin-left: 100px;
      padding: 0 16px;
      border: 0;
      background: linear-gradient(#3baee7, #0088cc);
      color: #FFF;
      border-radius: 4px;
      line-height: 22px;
      cursor: pointer;
      text-align: center;
      font-size: 13px;
      &:hover {
        background: linear-gradient(#4ab4e8, #1491d0);
      }
    }
  }
}

.homepage-copy {
  position: relative;
  top: 570px;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  p {
    font-weight: 400px;
    line-height: 30px;
  }
}
