.map {
  height: 350px;
  width: 100%;
  margin-top: 60px;
  position: absolute !important;
}

.map-copy {
  position: relative;
  top: 408px;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  p {
      font-weight: 400px;
  }
}
